extends base.pug

block content 
    h4 Change Title or video
    form(method="POST")
        input(name="title", placeholder="Video Title" type="text" value=video.title, required)
        input(name="description", placeholder="Description" type="text" value=video.description, required)
        input(name="hashtags", placeholder="Hashtags" type="text" value=video.hashtags.join(), required)
        input(value="Save", type="submit")